{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center bg-secondary">
        <h1>Authentification</h1>
        <p>GSB</p>
    </di>

    <div class="container">

        {% if error %}
            <div class="alert alert-danger">
               {{ error.messageKey }}
              
            </div>
        {% endif %}

        <form action="{{ path('login') }}" method="POST">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
            </div>

            <div class="form-group">
                <label for="username">Mot de passe</label>
                <input type="password" id="password" name="_password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>

        </form>
    </div>



{% endblock %}