html
{
    height: 230%;
    overflow: auto;
    background-image:url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}


.trait 
{ 
    border-top: 2px solid;
    border-color: #333399;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 850px;
} 

.trait2
{ 
    border-top: 1px solid;
    border-color: #333399;
    margin-top:-1%;
    width: 50%;
    padding-bottom: 1%;
} 
.co_deco {
    text-decoration: none;
    margin-left: 2%;
    font-family: 'Corbel';
    text-shadow: 0px 0px 0.1px #333399;
    margin-bottom: 2%;
    color:#333399;
 }
 
 .co_deco:hover {
    color :#161647;
}

#bloc {
    background-color: rgb(135, 206, 250,0.65);
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: -2%;
    margin-left: 5%;
    margin-right: 5%;
}

.zoneRecherche {

    margin-left: 5%;
}

.button {
    margin-left: 18%;
    margin-top: -1.35%;
    font-family: 'tahoma';
    text-shadow: 0px 0px 1px #333399;
    background-color: #dbeaf9;
    padding-bottom: 0.2%;
    padding-top: 0.2%;
   
}


.inu {
    position: absolute;
    text-shadow: 0px 0px 1px #333399;
    color: black;
    font-family: 'tahoma';
    display: block;
    margin-left:4.5%;
    
}
.inuBis {
    position: absolute;
    text-shadow: 0px 0px 0.05px #333399;
    color: black;
    font-family: 'tahoma';
    display: block;
    margin-left: 15%;

}
input { 

    position: relative;
    margin-bottom: 3%;
    margin-left: 25%;
    width: 150px;
    display: block;


 }

 footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333399;
    border-top-width: 7px;
    border-style: solid;
    border-top-color: #87CEFA;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    margin-top: 0%;
    text-align: center;
    z-index: 100;
}

#bloc1 {
    position: relative;
    top:0px;
    text-align: center;
    color:black;

    font-family:"Kabrio-Soft-Regular-trial.ttf", Sans-Serif;
}

#bloc1 p {
    position: relative;
    text-align: center;
    color: white;
}

#liens {
    position: relative;
    list-style: none; 
    text-decoration: none;
    text-align: center;
    color:black;
}

#liens li {
    position: relative;
    list-style: none; 
    text-decoration: none;

    display: inline;
}

#liens a {
    position: relative;
    color: white;
    right: 22px;
}

#liens li a:hover, #liens li a:focus, #iens li a:active {
    position: relative;
    list-style: none;
    color:white;
    text-shadow: 1px 1px black;
}


#piedDePage {
    position: relative;
    float:bottom;
}