{% extends 'admin/index.html.twig' %}

{% block content %}
   
    <div class="container">
        {{ include('admin/praticiens/form.html.twig', {form: form, button: 'Enregistrer'}) }}

    </div>
{% endblock %}