{% block menu %}
<nav>
	<ul id="navigation">
		<li><a  href="index.php">ACCUEIL</a></li>
		<li><a  href="medicament.php">MÉDICAMENT</a></li>
		<li><a  href="visiteur.php">VISITEUR</a></li>
		<li><a  href="practicien.php">PRATICIEN</a></li>
		<li><a  href="rapport_visite.php">COMPTE-RENDUS</a></li>
	</ul>
</nav>
{% endblock %}